{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

<div class="container">
  
 {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} text-center mt-3">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
  

  <div style="float:right;">       
 

    {% if request.user.is_authenticated %}
 
      {% include "carro/widget.html" %}

    {% else %} 

      <div class="alert alert-danger text-center mt-3 mb-4">Login para ver Carro</div>     

    {% endif %}
    
  
  </div>


  <div class="row">

{% for producto in productos %}

  <div class="col-sm-11 col-md-4 col-lg-3 mb-3 m-3">

    <div class="card h-100 shadow-sm">

        <img src="{{ producto.imagen.url }}" class="card-img-top imagen-producto" alt="{{ producto.nombre }}">

        <div class="card-body text-center">

            <h6 class="card-title">{{ producto.nombre }}</h6>
            <p class="card-text">{{ producto.contenido }}</p>
            <p class="card-text"><strong>{{ producto.precio }}&nbsp;$</strong></p>

        </div>

        <div class="card-footer text-center bg-white border-0">

            <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Agregar al carro</a>

        </div>

    </div>

  </div>



{% endfor %}
  </div>
 
  
</div>

{% endblock %}
